// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 768px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px
// );

@media (max-width: 1200px)
    .container
        max-width: 900px
    .catalog
        &__content
            justify-content: center
        &-item
            margin: 25px 10px

@media (max-width: 991px)
    .container
        max-width: 720px
    .header
        &__official
            display: none
        &__contact
            flex-direction: row
            justify-content: center
            align-items: center
        &__phone
            margin-right: 20px
    .button
        height: 40px
        &__main
            height: 50px
        &_submit
            height: 50px
    .promo
        &__wrapper
            align-items: center
    .consultation
        &__descr
            text-align: center
    .title
        &_left
            font-size: 36px
            text-align: center
    .feed-form
        width: 350px
        margin: 0 auto
        margin-top: 40px
    .carousel
        padding: 50px 0
        &__inner
            width: 500px
    .catalog
        &-item
            margin: 15px 10px

@media (max-width: 767px) 
    .container
        max-width: 500px
    .header
        &__phone
            display: none
    .promo
        &__header
            font-size: 36px  
    .advantages
        &__wrapper
            flex-direction: column
            align-items: center
        &__item
            margin-bottom: 30px      
        &__img
            width: 150px
            height: 150px
            img
                width: 100%
        &__subtitle
            font-size: 24px
            text-align: center
    .consultation
        &__descr
            font-size: 16px
    .title
        &_left
            font-size: 24px
    .feed
        &__text
            margin-left: 20px
@media (max-width: 566px) 
    .container
        max-width: 300px
    .button
        width: 130px
        height: 30px
        font-size: 12px
        &__main
            width: 200px
            height: 40px
        &_submit
            width: 250px
            height: 50px
    .header
        &__logo
            width: 150px
    .promo
        &__header
            font-size: 24px
            text-align: center
        &__subheader
            font-size: 16px
            text-align: center
        &__icons
            width: 300px
        &__icon
            font-size: 12px
    .title
        font-size: 20px
        &_left
            font-size: 16px
    .consultation
        min-height: 0
        &__descr
            font-size: 12px
    .feed-form
        width: 250px
    .carousel
        &__inner
            width: 250px
    .catalog
        &__tabs
            flex-direction: column
        &__tab
            margin-bottom: 15px
        &__content
            margin-top: 0
    .feed
        &__img
            width: 50px
            height: 50px
        &__subtitle
            font-size: 14px
        &__count
            font-size: 12px
        &__descr
            font-size: 10px
        